// Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include "windows.h"

#define WIN32_LEAN_AND_MEAN

IDD_MAIN DIALOG 0, 0, 350, 130
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Robotyper"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "SEGOE UI"
BEGIN
    CONTROL "Start", IDC_START, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 209, 110, 134, 11
    CONTROL "", IDC_TEXT, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 196, 114
    CONTROL "Config", IDC_STATIC, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 209, 35, 134, 66
    CONTROL "Delay:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 218, 48, 32, 7
    CONTROL "millis", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 264, 83, 32, 8
    CONTROL "5000", IDC_DELAY, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 57, 44, 10
    CONTROL "Interval:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 218, 72, 32, 7
    CONTROL "millis", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 266, 59, 32, 8
    CONTROL "250", IDC_INTERVAL, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 81, 44, 10
    CONTROL "Robotyper\ngithub.com/rsouth/robotyper", IDC_STATIC, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 209, 8, 128, 18
END